@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  .ltr {
    @apply text-left;
  }

  .rtl {
    @apply text-right;
  }

  .editor-textBold {
    @apply font-bold;
  }

  .editor-textItalic {
    @apply italic;
  }

  .editor-textUnderline {
    @apply underline;
  }

  .editor-textStrikethrough {
    @apply line-through;
  }

  .editor-textUnderlineStrikethrough {
    text-decoration: underline line-through;
  }

  .editor-textCode {
    background-color: rgb(240, 242, 245);
    padding: 1px 0.25rem;
    font-family: Menlo, Consolas, Monaco, monospace;
    font-size: 94%;
  }

  .editor-link {
    @apply text-blue-700 font-semibold;
  }

  .editor-code {
    @apply bg-neutral-800 text-neutral-100 font-mono block py-2 [tab-size:2] leading-normal pr-2 pl-14 my-2 overflow-auto relative;
  }

  .editor-code:before {
    @apply content-[attr(data-gutter)] absolute bg-neutral-700 text-neutral-100 left-0 top-0 py-2 px-4 whitespace-pre-wrap text-right min-w-[25px];
  }
  /* .editor-code:after {
    content: attr(data-highlight-language);
    top: 0;
    right: 3px;
    padding: 3px;
    font-size: 10px;
    text-transform: uppercase;
    position: absolute;
    color: rgba(0, 0, 0, 0.5);
  } */

  .editor-tokenComment {
    @apply text-neutral-500;
  }

  .editor-tokenPunctuation {
    @apply text-amber-500;
  }

  .editor-tokenProperty {
    @apply text-red-600;
  }

  .editor-tokenSelector {
    @apply text-lime-500;
  }

  .editor-tokenOperator {
    @apply text-red-600;
  }

  .editor-tokenAttr {
    @apply text-fuchsia-500;
  }

  .editor-tokenVariable {
    @apply text-yellow-500;
  }

  .editor-tokenFunction {
    @apply text-sky-500;
  }

  .editor-paragraph {
    @apply mb-8 relative;
  }

  .editor-paragraph:last-child {
    @apply mb-0;
  }

  .editor-heading-h1 {
    @apply text-2xl;
  }

  .editor-heading-h2 {
    @apply text-xl;
  }

  .editor-quote {
    @apply ml-5 pl-4 border-l-4 border-neutral-400 text-neutral-600;
  }

  .editor-list-ol {
    @apply list-inside list-decimal ml-5;
  }

  .editor-list-ul {
    @apply list-inside list-disc ml-5;
  }

  .editor-listitem {
    @apply my-2 mx-8;
  }

  .editor-nested-listitem {
    @apply list-none;
  }
}
